<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/tcal.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />	
	<link href="@Url.Content("~/Content/theme.bootstrap.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/jquery.tablesorter.pager.css")" rel="stylesheet" />
	<link href="@Url.Content("~/Content/jquery-ui.min.css")" rel="stylesheet" />

    <script src="@Url.Content("~/Scripts/jquery-1.11.2.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/tcal.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>	
	<script src="@Url.Content("~/Scripts/radius.js")" type="text/javascript"></script>	
	<script src="@Url.Content("~/Scripts/jquery.placeholder.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/jquery.tablesorter.js")" type="text/javascript"></script>	
	<script src="@Url.Content("~/Scripts/jquery.tablesorter.widgets.js")" type="text/javascript"></script>
	<!--
	<script src="@Url.Content("~/Scripts/jquery.tablesorter.pager.js")" type="text/javascript"></script>
	-->
	<script>
		$(function() {
		// Invoke the plugin
		$('input, textarea').placeholder({customClass:'my-placeholder'});
		// That’s it, really.
		// Now display a message if the browser supports placeholder natively
		var html;
		if ($.fn.placeholder.input && $.fn.placeholder.textarea) {
		// html = '<strong>Your current browser natively supports <code>placeholder</code> for <code>input</code> and <code>textarea</code> elements.</strong> The plugin won’t run in this case, since it’s not needed. If you want to test the plugin, use an older browser ;)';
		} else if ($.fn.placeholder.input) {
		// html = '<strong>Your current browser natively supports <code>placeholder</code> for <code>input</code> elements, but not for <code>textarea</code> elements.</strong> The plugin will only do its thang on the <code>textarea</code>s.';
		}
		if (html) {
		$('<p class="note">' + html + '</p>').insertAfter('form');
		}
		});
	</script>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="@Url.Content("~/Scripts/html5shiv.min.js")"></script>
      <script src="@Url.Content("~/Scripts/respond.min.js")"></script>
    <![endif]-->

	

</head>

<body>
    @RenderBody()
</body>
</html>
