@{
    ViewBag.Title = "GetAccessByLoginSys";
}

@{
    Layout = "";    
    }

<table class="table table-bordered">
@foreach(var item in ViewBag.ResultSet)
{
<tr>
		<td>
			@item.err_code
		</td>
		<td>
			@item.err_string
		</td>
		<td>
			@item.login
		</td>
		<td>
			@item.mac_addr
		</td>
		<td>
			@item.nas_ip
		</td>
		<td>
			@item.nas_port_id
		</td>
		<td>
			@item.status
		</td>
		<td>
			@item.sys_date
		</td>
		<td>
			@item.tfp_code
		</td>
		<td>
			@item.tfp_name
		</td>
		<td>
			@item.zone_date
		</td>
	</tr>
}
    
</table>

