@{
Layout = "";
}
@{
int index = 0;
}

@if (ViewBag.Error != null) {
@ViewBag.Error
}
else
{

<h4>
  @ViewBag.TrafficTitle 
  <select onchange="SelectInterval(this.options[this.selectedIndex].value)">
    @for(int i=1; i<=744; i++)
    {
      if (i==@ViewBag.Interval2) 
      {
        <option value="@(i)" selected>@i</option>
      }
      else
      {
        <option value="@(i)">@i</option>
      }
    }    
  </select>
  (час)
</h4>
<table class="table table-bordered table-hover">
<thead>
  <tr>
    <th colspan="2" style="text-align:center">За период</th>
    <th rowspan="2" valign="middle" style="text-align:center">По направлению</th>
    <th colspan="2" style="text-align:center">Трафик</th>
  </tr>
  <tr>
    <th style="text-align:center">с</th>
    <th style="text-align:center">по</th>
    <th style="text-align:center">входящий</th>
    <th style="text-align:center">исходящий</th>
  </tr>  
	<tr>
		<th>zone_start_date</th>
		<th>zone_stop_date</th>
		<th>code_value</th>
    <th>bytes_in</th>
		<th>bytes_out</th>
	</tr>
  <tr>
    <th style="text-align:right" colspan="3">Итого:</th>    
    <th style="text-align:right">@String.Format("{0:N0}", (UInt64) @ViewBag.TotalBytesIn)</th>
    <th style="text-align:right">@String.Format("{0:N0}", (UInt64) @ViewBag.TotalBytesOut)</th>
  </tr>

  @foreach(KeyValuePair<string, ulong>  pair in ViewBag.DictionaryIn)
  {
    <tr>
      <th style="text-align:right" colspan="3">Итого @(pair.Key):</th>
      <th style="text-align:right">@String.Format("{0:N0}", (UInt64) pair.Value)</th>
      <th style="text-align:right">@String.Format("{0:N0}", (UInt64) ViewBag.DictionaryOut[pair.Key])</th>
    </tr>
  }
  
</thead>
<tbody>


  @foreach(var item in ViewBag.ResultSet)
  {
    {
    index++;
    }

    <tr id="tr_traffic_@(index)" class="resultrow" onclick="ResultClickTraffic(@index)" data-toggle="modal" data-target="#myModalTraffic@(index)" data-toggle="popover" data-placement="top" title="@(item.code_text)">
		
		<td>
			@item.zone_start_date
		</td>
		<td>
			@item.zone_stop_date
		</td>
		<td>
			@item.code_value
		</td>

  <td style="text-align:right">
    @String.Format("{0:N0}", (UInt64) @item.bytes_in)
  </td>
  <td style="text-align:right">
    @String.Format("{0:N0}", (UInt64) @item.bytes_out)
  </td>

</tr>
	
}
</tbody>
</table>
}

@{
index=0;
}

@foreach(var item in ViewBag.ResultSet)
{

{
index++;
}




<!-- Modal -->
<div class="modal fade" id="myModalTraffic@(index)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Детализация параметра code_value</h4>
      </div>
      <div class="modal-body">
        <p>@item.code_text</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

}