@{
Layout = "";
}
@{
int index = 0;
}

@if (ViewBag.Error != null) {
@ViewBag.Error
}
else
{

<h4>
  @ViewBag.TrafficTitle 
  <select onchange="SelectInterval(this.options[this.selectedIndex].value)">
    @if (1==@ViewBag.Interval2)
    {
      <option value="1" selected>1 час</option>
    }
    else
    {
      <option value="1">1 час</option>
    }

    @if (2==@ViewBag.Interval2)
    {
      <option value="2" selected>2 часа</option>
    }
    else
    {
      <option value="2">2 часа</option>
    }

    @if (3==@ViewBag.Interval2)
    {
      <option value="3" selected>3 часа</option>
    }
    else
    {
      <option value="3">3 часа</option>
    }

    @if (4==@ViewBag.Interval2)
    {
      <option value="4" selected>4 часа</option>
    }
    else
    {
      <option value="4">4 часа</option>
    }

    @if (6==@ViewBag.Interval2)
    {
      <option value="6" selected>6 часов</option>
    }
    else
    {
      <option value="6">6 часов</option>
    }

    @if (8==@ViewBag.Interval2)
    {
      <option value="8" selected>8 часов</option>
    }
    else
    {
      <option value="8">8 часов</option>
    }

    @if (12==@ViewBag.Interval2)
    {
      <option value="12" selected>12 часов</option>
    }
    else
    {
      <option value="12">12 часов</option>
    }

    @if (24==@ViewBag.Interval2)
    {
      <option value="24" selected>24 часа</option>
    }
    else
    {
      <option value="24">24 часа</option>
    }

    @if (48==@ViewBag.Interval2)
    {
      <option value="48" selected>2 суток</option>
    }
    else
    {
      <option value="48">2 суток</option>
    }

    @if (72==@ViewBag.Interval2)
    {
      <option value="72" selected>3 суток</option>
    }
    else
    {
      <option value="72">3 суток</option>
    }

    @if (120==@ViewBag.Interval2)
    {
      <option value="120" selected>5 суток</option>
    }
    else
    {
      <option value="120">5 суток</option>
    }

    @if (168==@ViewBag.Interval2)
    {
      <option value="168" selected>7 суток</option>
    }
    else
    {
      <option value="168">7 суток</option>
    }

    @if (744==@ViewBag.Interval2)
    {
      <option value="744" selected>31 сутки</option>
    }
    else
    {
      <option value="744">31 сутки</option>
    }
    
  </select>
</h4>
<table class="table table-bordered table-hover">
<thead>
  <tr>
    <th colspan="2" style="text-align:center">За период</th>
    <th rowspan="2" valign="middle" style="text-align:center">По направлению</th>
    <th colspan="2" style="text-align:center">Трафик</th>
  </tr>
  <tr>
    <th style="text-align:center">с</th>
    <th style="text-align:center">по</th>
    <th style="text-align:center">входящий</th>
    <th style="text-align:center">исходящий</th>
  </tr>  
  <tr>
    <th style="text-align:right" colspan="3">Итого:</th>    
    <th style="text-align:right">@String.Format("{0:N0}", (UInt64) @ViewBag.TotalBytesIn)</th>
    <th style="text-align:right">@String.Format("{0:N0}", (UInt64) @ViewBag.TotalBytesOut)</th>
  </tr>

  @foreach(KeyValuePair<string, ulong>  pair in ViewBag.DictionaryIn)
  {
    <tr>
      <th style="text-align:right" colspan="3">Итого @(pair.Key):</th>
      <th style="text-align:right">@String.Format("{0:N0}", (UInt64) pair.Value)</th>
      <th style="text-align:right">@String.Format("{0:N0}", (UInt64) ViewBag.DictionaryOut[pair.Key])</th>
    </tr>
  }
  
</thead>
<tbody>

  @{
  string name_code = ViewBag.ResultSet[0].code_value;
  int index_code = 1;
  string show_class = "success";
  }

  @foreach(var item in ViewBag.ResultSet)
  {
  {
  index++;
  }

  if (name_code == item.code_value)
  {
  if (index_code == 1)
  {
  index_code = 0;
  show_class = "success";
  }
  else {
  index_code = 1;
  show_class = "";
  }
  }


  <tr id="tr_traffic_@(index)" class="resultrow @(show_class)" onclick="ResultClickTraffic(@index)" data-toggle="modal" data-target="#myModalTraffic@(index)" data-toggle="popover" data-placement="top" title="@(item.code_text)">


      <td>
			@item.zone_start_date
		</td>
		<td>
			@item.zone_stop_date
		</td>
		<td>
			@item.code_value
		</td>

  <td style="text-align:right">
    @String.Format("{0:N0}", (UInt64) @item.bytes_in)
  </td>
  <td style="text-align:right">
    @String.Format("{0:N0}", (UInt64) @item.bytes_out)
  </td>

</tr>
	
}
</tbody>
</table>
}

@{
index=0;
}


@if (ViewBag.ResultSet != null)
{
foreach(var item in ViewBag.ResultSet)
{

{
index++;
}




<!-- Modal -->
<div class="modal fade" id="myModalTraffic@(index)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Детализация параметра code_value</h4>
      </div>
      <div class="modal-body">
        <p>@item.code_text</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

}
}