@{
    ViewBag.Title = ViewBag.Filial;
}

<input type="hidden" id="period" name="period" value="@(ViewBag.Period)">
<input type="hidden" id="mode" name="mode" value="@(ViewBag.Mode)">
<input type="hidden" id="filial" name="filial" value="@(ViewBag.Filial)">
<input type="hidden" id="filial_code" name="filial_code" value="@(ViewBag.FilialCode)">
<input type="hidden" id="p_login" name="p_login" value="@(ViewBag.Login)">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">@ViewBag.Filial</a> 
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
<!--        <li class="active"><a href="#">@ViewBag.Login<span class="sr-only">(current)</span></a></li> -->
<!--        <li><a href="#">Link</a></li> -->

	@if (ViewBag.Mode == "CONTROL" || ViewBag.Mode == "MANAGE") 
			{
			<li class="dropdown active">
			  <a id="login_head" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@ViewBag.Login <span class="caret"></span></a>
			  <ul class="dropdown-menu" role="menu">
				  @if (ViewBag.Mode == "MANAGE") {
					<li><a href="#" data-toggle="modal" data-target="#myModalChangePassword" data-toggle="popover" data-placement="top" >Смена пароля</a></li>
					<li class="divider"></li>
				  }
					<li><a href="#" onclick="StopRadiusSession()">Сброс сессии</a></li>
					<li><a href="#" onclick="CheckProfile()">Перезагрузка профиля</a></li>

			  </ul>
			</li>
			}
			else
			{
			 <li class="active"><a id="login_head" href="#">@ViewBag.Login<span class="sr-only">(current)</span></a></li>
			}
		
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" name="login" value="@(ViewBag.Login)" class="form-control" id="login" placeholder="Введите логин">
		  <input type="text" class="form-control tcal" readonly="readonly" value="@(ViewBag.DateBgn)" id="datebgn" placeholder="Дата начала периода" style="cursor: pointer">
		  <input type="text" class="form-control tcal" readonly="readonly" value="@(ViewBag.DateEnd)" id="dateend" placeholder="Дата конца периода" style="cursor: pointer">		  
        </div>
        

		<div class="btn-group">
		  <input type="button" name="submit" class="btn btn-default" value="Получить данные" onclick="SubmitSearch(0)"/>
		  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			<span class="caret"></span>
			<span class="sr-only">Toggle Dropdown</span>
		  </button>
		  <ul class="dropdown-menu" role="menu">
			<li><a href="#" onclick="SubmitSearch(1*24*60)">1 день</a></li>
			<li><a href="#" onclick="SubmitSearch(3*24*60)">3 дня</a></li>
			<li><a href="#" onclick="SubmitSearch(7*24*60)">7 дней</a></li>
			<li><a href="#" onclick="SubmitSearch(30*24*60)">30 дней</a></li>
		  </ul>
		</div>

      </form>
<!--
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
-->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	
<!--
<div class="row">
	<div class="col-xs-12">
		
		@ViewBag.Filial 

		@if (ViewBag.Mode == "CONTROL" || ViewBag.Mode == "MANAGE") 
		{
		
			<div class="btn-group">
			  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				@ViewBag.Login <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu">
			  @if (ViewBag.Mode == "MANAGE") {
				<li><a href="#" data-toggle="modal" data-target="#myModalChangePassword" data-toggle="popover" data-placement="top" >Смена пароля</a></li>
			  }
				<li><a href="#" onclick="StopRadiusSession()">Сброс сессии</a></li>
				<li><a href="#" onclick="CheckProfile()">Перезагрузка профиля</a></li>			
			  </ul>
			</div>
		}
		else
		{
			@ViewBag.Login
		}
	</div>
</div>

-->

<!--
<hr/>	

<div class="container-fluid">
	
	<div class="row">
		<div class="col-xs-3">
			<input type="text" name="login" value="@(ViewBag.Login)" class="form-control" id="login" placeholder="Введите логин">
		</div>
		<div class="col-xs-3">
			<input type="text" class="form-control tcal" readonly="readonly" value="@(ViewBag.DateBgn)" id="datebgn" placeholder="Дата начало периода" style="cursor: pointer">
		</div>
		<div class="col-xs-3">
			<input type="text" class="form-control tcal" readonly="readonly" value="@(ViewBag.DateEnd)" id="dateend" placeholder="Дата конца периода" style="cursor: pointer">
		</div>
		<div class="cal-xs-3">
			<input type="button" name="submit" class="btn btn-default" value="Получить данные" onclick="SubmitSearch(0)"/>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-xs-3 ">
		</div>
		<div class="col-xs-9 ">
			<div class="btn-group" role="group" aria-label="...">
				  <button onclick="SubmitSearch(1*24*60)" type="button" class="btn btn-default">1 день</button>
				  <button onclick="SubmitSearch(3*24*60)" type="button" class="btn btn-default">3 дня</button>
				  <button onclick="SubmitSearch(7*24*60)" type="button" class="btn btn-default">1 неделя</button>
				  <button onclick="SubmitSearch(30*24*60)" type="button" class="btn btn-default">1 месяц</button>
			</div>
		</div>
	</div>
-->
	<div id="alert-danger-login" class="alert alert-danger" role="alert">
		Укажите логин
	</div>
	
	<div id="alert-danger-datebgn" class="alert alert-danger" role="alert">
		Укажите дату начало периода
	</div>
	
	<div id="alert-danger-dateend" class="alert alert-danger" role="alert">
		Укажите дату конца периода
	</div>

	
	<div role="tabpanel">
		<ul id="myTab" class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#autorization" aria-controls="autorization" role="tab" data-toggle="tab">ОШИБКИ АВТОРИЗАЦИИ</a></li>
			<li role="presentation"><a href="#sessions" aria-controls="sessions" role="tab" data-toggle="tab">СПИСОК СЕССИЙ</a></li>		
			<li role="presentation"><a href="#traffic" aria-controls="traffic" role="tab" data-toggle="tab">ТРАФИК ПО ПЕРИОДАМ</a></li>		
			<li role="presentation"><a href="#tariff" aria-controls="traffic" role="tab" data-toggle="tab">ТРАФИК ПО СЕРВИСАМ</a></li>		
		</ul>

		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="autorization">
			
			@{
								string collapse_status = "out";
							}

							@if (ViewBag.Mac != null && ViewBag.Nas != null && ViewBag.Login != null && ViewBag.Interval != null )
							{
								if (ViewBag.Mac.Length > 0 || ViewBag.Nas.Length > 0 || ViewBag.Login.Length > 0 || ViewBag.Interval > 0 )
								{
									collapse_status = "in";
								}
							}

							<input type="button" class="btn btn-default" data-toggle="collapse" data-target="#toggleDemo" value="Расширенный поиск">
							<!-- Collapsible Element HTML -->
							<div id="toggleDemo" class="collapse @(collapse_status)">
								<div class="row">
									<div class="col-xs-3">
										<input type="text" class="form-control" value="@(ViewBag.Mac)" id="access_mac" placeholder="Введите MAC адрес">
									</div>
									<div class="col-xs-3">
										<input type="text" class="form-control" value="@(ViewBag.Nas)" id="access_nas" placeholder="Введите NAS порт">
									</div>
									<div class="col-xs-2">
										<input type="text" name="access_login" value="@(ViewBag.Login)" class="form-control" id="access_login" placeholder="Введите логин">
									</div>
		
									<div class="col-xs-2">
										<input type="number" name="access_interval" value="@(ViewBag.Interval)" class="form-control" id="access_interval" placeholder="Интервал (мин)">
									</div>

									<div class="cal-xs-2">
										<input type="button" name="submit" class="btn btn-default" value="Получить данные" onclick="SubmitSearchAccess(0)"/>
									</div>
								</div>
							</div>


				<div id="autorization_result">
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="sessions">
				<div id="sessions_result">
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="traffic">
				<div id="traffic_result">
				</div>
			</div>			
			<div role="tabpanel" class="tab-pane" id="tariff">
				<div id="tariff_result">
				</div>
			</div>
		</div>
	</div>

	<script>
		$(function () {
		  $('[data-toggle="popover"]').tooltip()
		});
		$('#myTab a').click(function (e) {
		  e.preventDefault()
		  $(this).tab('show')
		});
		function SubmitSearch(interval) {
			var isValid = true;
			if (interval > 0) {
				isValid = ValidationLogin(true);
			} 
			else {
				isValid = Validation(true);
			}
			if (isValid == true) {
				document.getElementById("period").value = interval;
				$('#login_head').show();
				if (document.getElementById("mode").value == "CONTROL" || document.getElementById("mode").value == "MANAGE" )
				{
					document.getElementById("login_head").innerHTML = document.getElementById("login").value + ' <span class="caret"></span>';
				}
				else
				{
					document.getElementById("login_head").innerHTML = document.getElementById("login").value;
				}
				$('#autorization_result').text("Запрос выполняется...");
				$('#sessions_result').text("Запрос выполняется...");
				$('#traffic_result').text("Запрос выполняется...");
				$('#tariff_result').text("Запрос выполняется...");

				$.get('@Url.Action("GetAccessByLogin", "Radius")', { filial:document.getElementById("filial_code").value, login:document.getElementById("login").value, datebgn:document.getElementById("datebgn").value, dateend:document.getElementById("dateend").value, interval:interval }, function(data) { 				
					document.getElementById("autorization_result").innerHTML = data;
					//$("#access_table").tablesorter();					

					InitTableAccess();

				});
				$.get('@Url.Action("GetSessionsByLogin", "Radius")', { filial:document.getElementById("filial_code").value, login:document.getElementById("login").value, datebgn:document.getElementById("datebgn").value, dateend:document.getElementById("dateend").value, interval:interval }, function(data) { 				
					document.getElementById("sessions_result").innerHTML = data;
				});
				$.get('@Url.Action("GetTrafficByLogin", "Radius")', { filial:document.getElementById("filial_code").value, login:document.getElementById("login").value, datebgn:document.getElementById("datebgn").value, dateend:document.getElementById("dateend").value, interval:interval }, function(data) { 				
					document.getElementById("traffic_result").innerHTML = data;
				});
				
				$.get('@Url.Action("GetTrafficByServices", "Radius")', { filial:document.getElementById("filial_code").value, login:document.getElementById("login").value, datebgn:document.getElementById("datebgn").value, dateend:document.getElementById("dateend").value, interval:interval }, function(data) { 				
					document.getElementById("tariff_result").innerHTML = data;
				});
			}
		}

		function InitTableAccess()
		{
			$("#access_table").tablesorter({
						// this will apply the bootstrap theme if "uitheme" widget is included
						// the widgetOptions.uitheme is no longer required to be set
						theme : "bootstrap",

						widthFixed: true,

						headerTemplate : '{content} {icon}', // new in v2.7. Needed to add the bootstrap icon!

						// widget code contained in the jquery.tablesorter.widgets.js file
						// use the zebra stripe widget if you plan on hiding any rows (filter widget)
						widgets : [ "uitheme", "filter", "zebra" ],

						widgetOptions : {
						  // using the default zebra striping class name, so it actually isn't included in the theme variable above
						  // this is ONLY needed for bootstrap theming if you are using the filter widget, because rows are hidden
						  //zebra : ["even", "odd"],

						  // reset filters button
						 // filter_reset : ".reset"

						  // set the uitheme widget to use the bootstrap theme class names
						  // this is no longer required, if theme is set
						  // ,uitheme : "bootstrap"
						  filter_childRows: false,

							// filter widget: If true, a filter will be added to the top of
							// each table column.
							filter_columnFilters: false,

							// filter widget: css class applied to the table row containing the
							// filters & the inputs within that row
							filter_cssFilter: "tablesorter-filter",

							// filter widget: Customize the filter widget by adding a select
							// dropdown with content, custom options or custom filter functions
							// see http://goo.gl/HQQLW for more details
							filter_functions: null,

							// filter widget: Set this option to true to hide the filter row
							// initially. The rows is revealed by hovering over the filter
							// row or giving any filter input/select focus.
							filter_hideFilters: false,

							// filter widget: Set this option to false to keep the searches
							// case sensitive
							filter_ignoreCase: true,

							// filter widget: jQuery selector string of an element used to
							// reset the filters.
							filter_reset: null,

							// Delay in milliseconds before the filter widget starts searching;
							// This option prevents searching for every character while typing
							// and should make searching large tables faster.
							filter_searchDelay: 300,

							// Set this option to true if filtering is performed on the server-side.
							filter_serversideFiltering: false,

							// filter widget: Set this option to true to use the filter to find
							// text from the start of the column. So typing in "a" will find
							// "albert" but not "frank", both have a's; default is false
							filter_startsWith: false,

							// filter widget: If true, ALL filter searches will only use parsed
							// data. To only use parsed data in specific columns, set this option
							// to false and add class name "filter-parsed" to the header
							filter_useParsedData: false,


						}
					  }) ;
		}

		function ChangePassword() {
			$.get('@Url.Action("ChangePassword", "Radius")', { filial:"1", login:document.getElementById("login").value, new_pass:document.getElementById("exampleInputNewPass").value  }, function(data) { 				
					alert( data );
			});
		}

		function StopRadiusSession() {
			$.get('@Url.Action("StopRadiusSession", "Radius")', { filial:"1", login:document.getElementById("login").value  }, function(data) { 				
					alert( data );
			});
		}

		function CheckProfile() {
			$.get('@Url.Action("CheckProfile", "Radius")', { filial:"1", login:document.getElementById("login").value  }, function(data) { 				
					alert( data );
			});
		}

		function SelectInterval(interval)
		{
			$('#traffic_result').text("Запрос выполняется...");
			$.get('@Url.Action("GetTrafficByLogin", "Radius")', { filial:document.getElementById("filial_code").value, login:document.getElementById("login").value, datebgn:document.getElementById("datebgn").value, dateend:document.getElementById("dateend").value, interval:document.getElementById("period").value, interval2:interval }, function(data) { 				
					document.getElementById("traffic_result").innerHTML = data;										
				});
		}

		function SelectGroup(group)
		{
			$.get('@Url.Action("GetTrafficByServices", "Radius")', { filial:document.getElementById("filial_code").value, login:document.getElementById("login").value, datebgn:document.getElementById("datebgn").value, dateend:document.getElementById("dateend").value, interval:document.getElementById("period").value, group: group, last:document.getElementById("last_interval").value }, function(data) { 				
					document.getElementById("tariff_result").innerHTML = data;
				});
			$('#tariff_result').text("Запрос выполняется...");
		}

		function SelectLast(last)
		{
			$.get('@Url.Action("GetTrafficByServices", "Radius")', { filial:document.getElementById("filial_code").value, login:document.getElementById("login").value, datebgn:document.getElementById("datebgn").value, dateend:document.getElementById("dateend").value, interval:document.getElementById("period").value, group: document.getElementById("select_group").value, last:last }, function(data) { 				
					document.getElementById("tariff_result").innerHTML = data;
				});
			$('#tariff_result').text("Запрос выполняется...");
		}

		function SubmitSearchAccess()
		{			
			$.get('@Url.Action("GetAccessSysdate", "Radius")', { login:document.getElementById("access_login").value, mac:document.getElementById("access_mac").value, nas:document.getElementById("access_nas").value, interval:document.getElementById("access_interval").value }, function(data) { 				
					document.getElementById("autorization_result").innerHTML = data;
					InitTableAccess();
				});
			$('#autorization_result').text("Запрос выполняется...");
		}

	</script>


<!-- Modal Change Password -->
<div class="modal fade" id="myModalChangePassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Смена пароля пользователя</h4>
      </div>
      <div class="modal-body">
		  <div class="form-group">
			<label for="exampleInputNewPass">Новый пароль</label>
			<input type="text" class="form-control" id="exampleInputNewPass" placeholder="Новый пароль">
		  </div>		  
      </div>
      <div class="modal-footer">
		<button type="button" onclick="ChangePassword()" class="btn btn-primary" data-dismiss="modal">Сменить</button>        
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>        
      </div>
    </div>
  </div>
</div>


